<section class="m-5">

    <div class="card" class="post" id="post" data-postid="{{post.id}}">
        <h2 class="card-header d-flex flex-row justify-content-between"><span>{{post.title}}</span><span>
                <p class="card-title text-secondary poster">Posted by {{post.user.username}} {{format_date
                    post.createdAt}} at {{format_time
                    post.createdAt}}</p>
            </span></h2>
        <div class="card-body">
            <p class="card-text">{{post.content}}</p>
        </div>
    </div>

    <form class="comment-form p-4"></form>
    <h3>Comments</h3>
    {{#each comments as |comment|}}
    {{>comment-details}}
    {{/each}}
    {{#if logged_in}}
    <div class="mb-3">
        <label for="comment" class="form-label">Leave a comment</label>
        <textarea class="form-control comment" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-light">Add a comment</button>
    </form>
    <script src="/js/newcomment.js"></script>
    <script src="/js/deletecomment.js"></script>
    {{else}}
    <div class="alert alert-warning" role="alert">
        You need to be <a href="/loginsignup" class="alert-link"></a>logged in</a> to make comments.
    </div>
    {{/if}}
</section>